body{
  margin :0;
  padding: 0;
}
.searchbar{
  background-color: white;
  border-bottom: 1px solid #DCDCDC ;
  padding :20px;
  .text-search{
   padding: 10px;
   padding-right: 70px;
   padding-left: 70px;
   border-radius: 7px;
   font-size: 14px;
  }
  .button{
    background-color: blue;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    color: white;
  }
}
.box {
  padding: 25px 200px;
  .item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // width: 100%;
  }
  .place-card{
      width: 48%;
      box-sizing: border-box;
      border-radius: 15px;
      margin-bottom: 10px;
      border: 1px solid #DCDCDC;
      padding: 0;
      // height: 250px;
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      >.item-body {
        display: flex;
        justify-content: space-around;
        flex: 1;
      }
      >header {
        border-bottom: 1px solid #DCDCDC;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        display : inline-block;  
      }
      .photo{
        height: 20px;
        width: 25px;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
      }    
      .partner {
        float: left;
      }
      .rate{
        float: right;
        color: gold;
      }
      .checked{
        color: gold;
        padding-right: 2px;
      }
      .name{
        font-weight: bold;
        margin-bottom: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .city{
        color: gray;
        margin-bottom: 15px;
      }
      .hour{
        color:gray;
        font-size: 12px;
        .close{
          color:red;
          font-size: 12px;
        }
        .open{
          color: green;
          font-size: 12px;
        }
      }
      .view{
        color:grey;
        margin-top: auto;
      }
    }
  }
.place-card{
  	>.item-body {
      >img{
        display: block;
        width: 207px;
        height: 207px;
        border-bottom-left-radius: 15px;
    }
    
		>.item-details {
        display: flex;
			  flex: 1;
			  flex-direction: column;
			  padding: 20px 20px;
		  }
    }
  }

.paginate {
  margin : 50px auto;
  display: table;
  >
  ul {
    padding:0px;
    margin:0px;
    li{
      list-style: none;
      float: center;
      margin: 5px 7px;
      :hover{
        opacity: 0.9;
      }
      a{
        font-size: 16px;
        text-decoration: none;
        border: 1px solid grey;
        border-radius: 3px;
        margin-right: 5px;
        margin-bottom: 5px;
        color:grey;
      }
  }
}
}